.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
    margin: 18px;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.head>img{

  width: 1.8rem;
    border-radius: 50%;
    
    box-shadow:  0 0 15px rgb(255, 72, 0), 0 0 15px rgb(255, 94, 0), 0 0 15px rgb(255, 0, 221);
    
}

.stat{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: grey;
}
.stat>:nth-child(1){
    font-size: 
    0.8rem;
}
.stat>:nth-child(2){
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}
.ord>div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: gray;
    font-size: 0.8rem;
}
.orders{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: grey;
    gap: 1.5rem;
}
.ord>:nth-child(1){
    margin-bottom: 1rem;

}
.ord:nth-child(1)
{
    font-size: 1rem;
}
.ord:nth-child(1):nth-child(2){
    font-size: 0.8rem;
    color: green;
}
.orderchart{
    width: 100%;
}
.orderchart>:nth-child(1){
    text-align: center;
}