.container{
    height: 100vh;
    width: 6%;
    max-width: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem ;
    background: #141414;
    overflow: hidden;
    position: static;
    
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    box-shadow:  0 0 15px rgb(226, 151, 52), 0 0 15px rgb(230, 81, 22), 0 0 15px rgb(230, 139, 35);
}
.menulogo{
width: 45%;
max-width: 5rem;
}
.menu{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.item>svg{
    fill: white;
    width: 3rem;
}